<!-- Header -->
<header id="header">
  <div class="inner">
    <!-- Logo -->
    <a href="/" class="logo">
      <span class="symbol" href="/"><img src="/images/logoScam.svg" alt=""></span>
      <span class="title" href="/">SCAM</span>
    </a>
    <!-- Nav -->
    <!-- <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav> -->
  </div>
</header>

<!-- Menu -->
<!-- <nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="front/service">Service</a></li>
    <li><a href="front/sign">Connexion</a></li>
    <li><a href="front/test">Test</a></li>
  </ul>
</nav> -->